/* html, body
{
	padding: 0;
	margin: 0;
} */
/* body
{
	background-color: #fff;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #666;
	position: relative;
	-webkit-text-size-adjust: none;
} */
/* body *
{
	text-shadow: none;
} */
h1, h2, h3, h4, h5, h6
{
	line-height: 1;
	font-weight: bold;
	margin: 20px 0 10px 0;
}
h1, h2, h3
{
	font-size: 18px;
}
h4, h5, h6
{
	font-size: 16px;
}
p
{
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
	/* color: inherit;
	text-decoration: underline; */
}

nav:not(.mm-menu)
{
	display: none;
}

.header,
.content,
.footer
{
	/* text-align: center; */
}
.header,
.footer
{
	/* background: #777; */
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 40px;


	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;
	height: 40px;
	padding: 0 50px;
}
.header.fixed
{
	position: fixed;
	top: 0;
	left: 0;
}
.footer.fixed
{
	position: fixed;
	bottom: 0;
	left: 0;
}
.header > a
{
	background: center center no-repeat transparent;
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );

	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
}
.content
{
	padding: 150px 50px 50px 50px;
}


/**3/2/2015**/
.header > a{top:10px;}
.bs-component{font-size:15px;}
.navbar-top-links{float:right; list-style:none; margin:0; padding:20px 30px; font-size:15px;}
.navbar-top-links > li{display:inline-block; margin:0px; padding:0px 5px;}
.navbar-top-links > li a{color:#fff;}
/*.mm-menu.mm-horizontal.mm-offcanvas{background-color:#009587;} */
.welcome-message{color:#fff; font-size:15px;}


.table{border:1px solid #ebebeb; text-align:center;}
.bs-component .table tr th{color:#3d3f40; background-color:#eee; padding:8px 6px; text-align:center;}
.bs-component .table tr td{border:1px solid #ddd;}
.bs-component .table > thead > tr > th{border-right:1px solid#ddd; border-bottom:none;}

.bs-component legend{text-align:center; text-transform:capitalize; font-size:24px; padding-bottom:7px; border-bottom:1px solid #ddd;}
.bs-component .form-horizontal .control-label{font-weight:normal; font-size:17px; padding-top:0px;}




.logo{font-size:26px; display:inline-block; padding:12px 0px; text-align:center; width:320px;}
.logo a{color:#fff; text-decoration:none;}
.logo a:hover{color:#000; text-decoration:none;}

/*3-4-2015*/
.mws-panel-body.dataTables_wrapper .comment-box{padding:10px; width:98% !important;}
.comment-box .grid_1{width:17%; margin:0px; float:left;}
.comment-box .grid_7{width:81%; margin:0px; float:left;}
.comment-box .add_comment li{margin-left:0px; float:none;}


@media (min-width:992px) {
.bs-component .form-group .col-sm-10{width:78.333%;}
}
@media (min-width:768px) {
.navigation.mm-menu{width:23%; position:relative; z-index:999; margin-left:15px;}
.navigation.mm-menu.mm-offcanvas{position:absolute;}
.navigation.mm-menu, .mm-menu > .mm-panel{top:80px;} 

.mm-menu.mm-offcanvas{display:block !important;}
}

@media (max-width: 767px) {
.navbar-top-links{float:none; list-style:none; margin:0; padding:0px 0px 20px 0px; text-align:center;}
.form-horizontal .checkbox label{padding-left:20px;}
.form-horizontal .btn{padding:8px 27px;}
.logo{width:100%;}
.mm-opened.mm-background.mm-opening .mm-menu.mm-current{display: block !important;}
.mm-menu.mm-current{display: none !important;}
}

@media only screen and (max-width :600px) {
.comment-box .grid_1{width:100%; float:none; margin-bottom:15px;}
.comment-box .grid_7{width:96%; float:none;}
}

@media (min-width: 768px) and (max-width: 991px){


}

@media (min-width: 992px) and (max-width: 1200px) {


}









